
/*CSS for Main Table that displays videos */
#displayTable {
	display: table;
}

/*Set size of thumbnails in table*/
.thumbnail {
	height: 50px;
	width: 80px;
}

/*CSS for Folder Display*/
#byFolderDisplay {
	padding: 100px;
	display: none;
}

/*CSS for columns of grid of folder display*/
.folder-col {
	display: block;
}

/*Set size of folder images*/
.folder-col img {
	height: 100px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.folder-col h3 {
	text-align: center;
}

/*CSS for searching by tag box*/
#searchByTag {
	padding: 50px;
}

#searchByTag input {
	width: 75%;
	display: inline-block;
}

/*Hide Back Button unless view by folder is selected*/
#backButton {
	display: none;
}